@page

@model RegisterModel
@{
    ViewData["Title"] = "Zarejestruj się";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">@ViewData["Title"]</h2>
                </div>

                <div class="card-body">
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <h3>Stwórz nowe konto</h3>
                        <hr />

                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" placeholder="name@example.com" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="password" class="form-label">Hasło</label>
                                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" placeholder="Hasło" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="confirmPassword" class="form-label">Potwierdź hasło</label>
                                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" placeholder="Hasło" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input asp-for="Input.Name" class="form-control" autocomplete="name" placeholder="Imię i Nazwisko" />
                            <span asp-validation-for="Input.Name" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="ulica" class="form-label">Ulica</label>
                                <input asp-for="Input.Ulica" class="form-control" autocomplete="street-address" placeholder="Ulica" />
                                <span asp-validation-for="Input.Ulica" class="text-danger"></span>
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="numerMieszkania" class="form-label">Numer Mieszkania</label>
                                <input asp-for="Input.NumerMieszkania" class="form-control" autocomplete="address-line2" placeholder="Numer Domu/Mieszkania" />
                                <span asp-validation-for="Input.NumerMieszkania" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="wojewodztwo" class="form-label">Województwo</label>
                                <input asp-for="Input.Wojewodztwo" class="form-control" autocomplete="address-level1" placeholder="Województwo" />
                                <span asp-validation-for="Input.Wojewodztwo" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="miasto" class="form-label">Miasto</label>
                                <input asp-for="Input.Miasto" class="form-control" autocomplete="address-level2" placeholder="Miasto" />
                                <span asp-validation-for="Input.Miasto" class="text-danger"></span>
                            </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="kodPocztowy" class="form-label">Kod Pocztowy</label>
                                    <input asp-for="Input.KodPocztowy" class="form-control" autocomplete="postal-code" placeholder="Kod Pocztowy" />
                                    <span asp-validation-for="Input.KodPocztowy" class="text-danger"></span>
                                </div>
                            <div class="col-md-6 mb-3">
                                <label for="role" class="form-label">Role</label>
                                <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-select">
                                    <option>-Select Role-</option>
                                </select>
                            </div>
                            </div>
                            <div class="col-md-12 mb-3">
                            <button id="registerSubmit" type="submit" class="btn btn-outline-dark mt-auto">Zarejestruj się</button>
                            </div>
                    </form>
                    <hr />
                    <div>
                        <p>
                            <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Masz konto? Zaloguj się.</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
